
<form id="edit-project-form">


<div class="upload-new-image">
  {{#if model.isVideo}}<iframe src={{model.url}} class="upload-new-image-image"></iframe> {{/if}}
  {{#if model.isImage}}<img src={{model.url}} class="upload-new-image-image">{{/if}}
  <button class="upload-new-image-text" {{action "changeMedia" model.id}}>Change Media</button>
  </div>


  <div class="form-control">
    <div class="control">
      <label class="label">Title</label>
      {{input type="text" class="input" value=model.title}}
    </div>
    <div class="control">
      <label class="label">Description</label>
      {{textarea class="textarea" value=model.description}}
    </div>


    <div class="control">
      <br>
      <button class="button is-primary" {{action 'editMedia' model.id}}>Save Media</button>
      <button class="button is-danger" {{action 'deleteMediaWarning' model.id model.project.id}}>Delete Media</button>
      {{#link-to 'work.edit.project.edit.media.index' class="button is-link" }}Close{{/link-to}}
    </div>
  </div>
</form>




