
<form id="new-project-form">

  {{#if isEmptyMedia}}
    <div class="upload-new-image">
      <button class="upload-new-image-plus" {{action "uploadMedia"}}>+</button>
      <button class="upload-new-image-text" {{action "uploadMedia"}}>Upload New Media</button>
    </div>
  {{/if}} 

  {{#unless isEmptyMedia}}
    <div class="upload-new-image">
      {{#if isVideo}}<iframe src={{mediaURL}} class="upload-new-image-image"></iframe> {{/if}}
      {{#if isImage}}<img src={{mediaURL}} class="upload-new-image-image">{{/if}}
      <button class="upload-new-image-text" {{action "uploadMedia"}}>Upload New Media</button>
    </div>
  {{/unless}}






  <div class="form-control">
    <div class="control">
      <label>Title</label>
      {{input type="text" class="input" value=title}}
    </div>
    <div class="control">
      <label>Description</label>
      {{textarea class="textarea" value=description}}
    </div>
    <div class="control">
      <button class="button is-primary"{{action 'addMedia' model.id}}>Create Media</button>
      {{#link-to 'work.edit.project.edit.media' class="button is-link"}}Close{{/link-to}}
    </div>
  </div>
</form>

