<div class="projects_page">
  <div class="work-component-individual">

    <img src={{model.image}} alt="{{model.workplace}}" class="work-component-individual__image"> 

    <div class="work-component-individual__description">
      <p class="work-component-individual__description__paragraph"><span class="work-role">{{model.role}} - </span>{{model.description}}</p>
      <p class="work-component-individual__description__dates">{{format-date model.startDate}} - {{format-date model.endDate}}</p>
    </div>
  </div>

  <div class="project-section">
    <div class="columns">
      <div class="column is-six">
        {{#if session.isAuthenticated}}
          <div class="project-component even">
            <div class="create-new-project-link">
            {{#link-to 'work.new' class="create-new-link"}}
              <div class="upload-new-work-plus">+</div>
              <div class="upload-new-work-text">Upload New Project</div>
            {{/link-to}}
            </div>
          </div>
        {{/if}}
      {{#each evenProjects as |project|}}
        {{project-component project=project class="project-component even"}}
      {{/each}}
      </div>

    <div class="column is-six">
      {{#each oddProjects as |project|}}
        {{project-component project=project class="project-component odd"}}
      {{/each}}
     </div>
    </div>
  </div>

</div>